body {
    padding-top: 100px;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.btn-centered {
    font-size: 2em;
    text-align: center;
    display: block;
    height: 100px;
}

.thumbnail {
    border: none;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

body {
    background-color: #fdfdfd;

}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.alert {
    font-weight: bold;
}

.bid_button {
    padding-bottom: 5px;

}

.bid_button > .btn {
    width: 100%;
}

.answer {
    color: #6f6f6f;
    font-size: 1em;
    margin: 0 0 21px;
    padding: 10.5px 21px;
}

.question {
    color: #4ea0d0;
    font-weight: bold;
}

.search-bar {
    padding-top: 5%;
}

.bar {
    height: 18px;
    background: green;
}