body {
    padding-top: 100px;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.btn-centered {
    font-size: 2em;
    text-align: center;
    display: block;
    height: 100px;
}

.thumbnail {
    border: none;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

body {
    background-color: #fdfdfd;

}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.alert{
    font-weight: bold;
}

.bid_button{
    padding-bottom: 5px;

}

.bid_button > .btn{
    width: 100%;
}