{% extends "base.html" %}

{% block header %}<h1> Nouvelle Offre</h1>{% endblock %}

{% block content %}

<form role="form" action="/offre/creer/" method="post">
    {{ form.non_field_errors }}
    <div class="fieldWrapper form-group">
        {{ form.name.errors }}
        <label class="col-sm-2 control-label" for="id_name">Titre de l'annonce :</label>
        {{ form.name}}
    </div>
        <div class="fieldWrapper form-group">
        {{ form.type.errors }}
        <label class="col-sm-2 control-label" for="id_type">Type d'annonce :</label>
        {{ form.type}}
    </div>
        <div class="fieldWrapper form-group">
        {{ form.begin.errors }}
        <label class="col-sm-2 control-label" for="id_begin">Début :</label>
        {{ form.begin}}
    </div>
        <div class="fieldWrapper form-group">
        {{ form.end.errors }}
        <label class="col-sm-2 control-label" for="id_end">Fin :</label>
        {{ form.end}}
    </div>
        <div class="fieldWrapper form-group">
        {{ form.status.errors }}
        <label class="col-sm-2 control-label" for="id_status">Status :</label>
        {{ form.status}}
    </div>
        <div class="fieldWrapper form-group">
        {{ form.quantity.errors }}
        <label class="col-sm-2 control-label" for="id_quantity">Quantité :</label>
        {{ form.quantity}}
    </div>
        <div class="fieldWrapper form-group">
        {{ form.localization.errors }}
        <label class="col-sm-2 control-label" for="id_localization">Localisation :</label>
        {{ form.localization}}
    </div>
        <div class="fieldWrapper form-group">
        {{ form.real_author.errors }}
        <label class="col-sm-2 control-label" for="id_real_author">Auteur :</label>
        {{ form.real_author}}
    </div>
        <div class="fieldWrapper form-group">
        {{ form.emergency_level.errors }}
        <label class="col-sm-2 control-label" for="id_emergency_level">Niveau d'urgence :</label>
        {{ form.emergency_level}}
    </div>
        <div class="fieldWrapper form-group">
        {{ form.recurrence.errors }}
        <label class="col-sm-2 control-label" for="id_recurrence">Offre réccurente ? :</label>
        {{ form.recurrence}}
    </div>
        <div class="fieldWrapper form-group">
        {{ form.description.errors }}
        <label class="col-sm-2 control-label" for="id_description">Description :</label>
        {{ form.description}}
    </div>
        <div class="fieldWrapper form-group">
        {{ form.bidCategory.errors }}
        <label class="col-sm-2 control-label" for="id_bidCategory">Catégorie :</label>
        {{ form.bidCategory}}
    </div>
    {% csrf_token %}
    <input type="submit" value="Submit" />
</form>

{% endblock %}