{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div data-ng-app="bidsModule">
            <div data-ng-controller="bidController">
                <div class="alert alert-danger" role="alert" ng-show="errorMessage">{$ errorMessage $}</div>
                <div class="alert alert-success" role="alert" ng-show="successMessage">{$ successMessage $}</div>
                <div class="alert alert-warning" role="alert" ng-hide="bid.status_bid == 'EN COURS'">
                    Cette annonce n'est pas disponible car son état est: {$ bid.status_bid $}
                </div>
                <div>
                    <div class="row">
                        <a href="/annonces/">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Revenir à la liste des annonces
                        </a>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="row">
                                <img src="http://fakeimg.pl/250x250/">
                            </div>
                            <br/>

                            <div class="row">
                                <b>Catégorie :</b> <span ng-hide="bid.category">Non précisé</span> {$
                                bid.category.name $}
                            </div>
                            <div class="row">
                                <b>Quantité :</b> <span
                                    ng-hide="bid.quantity || bid.quantity == 0">Non précisé</span> {$
                                bid.quantity $}
                            </div>
                            <div class="row">
                                <p><b>Localisation : </b><span ng-hide="bid.localization">Non précisé</span></p>
                                <ul class="list-unstyled" ng-show="bid.localization">
                                    <li><b>{$ bid.localization.title $}</b></li>
                                    <li>{$ bid.localization.recipient_name $}</li>
                                    <li>{$ bid.localization.address1 $}</li>
                                    <li ng-show="bid.localization.address2">{$ bid.localization.address2 $}</li>
                                    <li>{$ bid.localization.zipcode $} - {$ bid.localization.town $}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <h4 class="text-center"><b>{$ bid.title $}</b></h4>
                            </div>
                            <br/>

                            <div class="row">
                                <div class="col-lg-4"><b>Status : </b> {$ bid.status_bid | capitalize $}</div>
                                <div class="col-lg-4"><b>Début :</b> <span
                                        ng-hide="bid.begin">Non précisé</span>
                                    <span ng-show="bid.begin">{$ bid.begin | fromNow $}</span>
                                </div>
                                <div class="col-lg-4"><b>Fin :</b> <span ng-hide="bid.end">Non précisé</span>
                                    <span ng-show="bid.end">{$ bid.end | fromNow $}</span>
                                </div>
                                <br/>
                            </div>
                            <br/>

                            <div class="row">
                                <blockquote>
                                    <p>{$ bid.description $}</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="row bid_button">
                                <button data-toggle="modal" data-target="#accept_bid" class="btn btn-default btn-sm"
                                        type="button">
                                    <span class="glyphicon glyphicon-ok"></span> Accepter cette annonce
                                </button>
                            </div>
                            <div class="row bid_button">
                                <a ng-show="bid.current_user_id == bid.creator || bid.current_user_is_superuser"
                                   class="btn btn-info btn-sm" ng-href="/annonces/{$ bid.id $}/modifier">
                                    <span class="glyphicon glyphicon-edit"></span> Modifier cette annonce
                                </a>
                            </div>
                            <div class="row bid_button">
                                <a ng-show="bid.current_user_id == bid.creator || bid.current_user_is_superuser"
                                   class="btn btn-danger btn-sm" ng-click="deleteBid()">
                                    <span class="glyphicon glyphicon-trash"></span> Supprimer cette annonce
                                </a>
                            </div>
                            <div class="row">
                                <b>Déposé par :</b> {$ bid.creator $} <span
                                    ng-show="bid.real_author =! bid.creator"> pour {$ bid.real_author $}</span>
                            </div>
                            <div class="row"><b>Association : </b>{$ bid.association.name $} <span
                                    ng-hide="bid.association"> Non précisé </span></div>
                        </div>
                    </div>
                    <br/>

                </div>


            </div>
            {% include 'modales/accept_bid.html' %}
        </div>
        {% include 'disqus.html' %}
    </div>


{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/js/bidModule.js"></script>
    <script type="text/javascript" src="/static/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript"
            src="/static/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
{% endblock %}

