{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div data-ng-app="bidsModule">
            <div data-ng-controller="bidController">
                <div class="alert alert-danger" role="alert" ng-show="errorMessage">{$ errorMessage $}</div>
                <div class="alert alert-success" role="alert" ng-show="successMessage">{$ successMessage $}</div>
                <div data-ng-repeat="element in bid">
                    <div class="row"><a href="/annonces/"><span class="glyphicon glyphicon-arrow-left"></span> Revenir à
                        la liste des annonces</a></div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4 class="text-center">{$ element.title $}</h4>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"
                                 alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <ul>
                                <li><b>Quantité :</b> <span ng-hide="element.quantity">Non renseigné</span> {$
                                    element.quantity $}
                                </li>
                                <li><b>Ajouté le :</b> <span ng-hide="element.begin">Non renseigné</span> {$
                                    element.begin $}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12">
                            <p><b>Description</b></p>
                            <blockquote>
                                <p>{$ element.description $}</p>
                            </blockquote>
                        </div>
                    </div>
                    <p>Creator : {$ element.creator $}</p>

                    <p>Current User : {$ element.current_user $}</p>

                    {# todo NG-HIDE if current user == creator #}
                    <a class="btn btn-success" ng-click="acceptBid()">Accepter cette annonce</a>

                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/js/bidModule.js"></script>
{% endblock %}