{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div data-ng-app="bidsModule">
            <div data-ng-controller="bidController">
                <div class="alert alert-danger" role="alert" ng-show="errorMessage">{$ errorMessage $}</div>
                <div class="alert alert-success" role="alert" ng-show="successMessage">{$ successMessage $}</div>
                <div class="alert alert-warning" role="alert" ng-hide="bid.status_bid.name == 'EN COURS'">Cette annonce
                    n'est
                    pas disponible car son état est: {$ bid.status_bid.name $}
                </div>
                <div>
                    <div class="row"><a href="/annonces/"><span class="glyphicon glyphicon-arrow-left"></span> Revenir à
                        la liste des annonces</a></div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4 class="text-center">{$ bid.title $}</h4>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"
                                 alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <ul>
                                <li><b>Status : </b> {$ bid.status_bid.name $}</li>
                                <li><b>Catégorie :</b> <span ng-hide="bid.category">Non renseigné</span> {$
                                    bid.category.name $}
                                </li>
                                <li><b>Quantité :</b> <span
                                        ng-hide="bid.quantity || bid.quantity == 0">Non renseigné</span> {$
                                    bid.quantity $}
                                </li>
                                <li><b>Début de l'annonce :</b> <span ng-hide="bid.begin">Non renseigné</span> {$
                                    bid.begin | date:'dd MMM yy HH:mm' $}
                                </li>
                                <li><b>Déposé par :</b> {$ bid.creator $} <span
                                        ng-show="bid.real_author =! bid.creator"> pour {$ bid.real_author $}</span>
                                </li>
                                <li><b>Association responsable : </b>{$ bid.association.name $} <span
                                        ng-hide="bid.association"> Non renseigné </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12">
                            <p><b>Localisation</b></p>
                            <ul class="list-unstyled">
                                <li><b>{$ bid.localization.title $}</b></li>
                                <li>{$ bid.localization.recipient_name $}</li>
                                <li>{$ bid.localization.address1 $}</li>
                                <li ng-show="bid.localization.address2">{$ bid.localization.address2 $}</li>
                                <li>{$ bid.localization.zipcode $} - {$ bid.localization.town $}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p><b>Description</b></p>
                            <blockquote>
                                <p>{$ bid.description $}</p>
                            </blockquote>
                        </div>
                    </div>
                    <button data-toggle="modal" data-target="#accept_bid" class="btn btn-default"
                            type="button"><span
                            class="glyphicon glyphicon-ok-sign"></span> Accepter cette
                        annonce
                    </button>
                    <a ng-show="bid.current_user_id == bid.creator || bid.current_user_is_staff"
                       class="btn btn-info"
                       ng-href="/annonces/{$ bid.id $}/modifier">Modifier cette annonce</a>
                    <a ng-show="bid.current_user_id == bid.creator || bid.current_user_is_staff"
                       class="btn btn-danger"
                       ng-click="deleteBid()">Supprimer cette annonce</a>

                </div>
            </div>
            {% include 'modales/accept_bid.html' %}
        </div>
    </div>


{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/js/bidModule.js"></script>
    <script type="text/javascript" src="/static/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript"
            src="/static/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
{% endblock %}

