{% extends "base.html" %}
{% block content %}
    <div class="container" data-ng-app="bidsModule" data-ng-controller="bidController" ng-init="bid.type='SUPPLY'">
        <div class="row">
            <div class="col-lg-12">
                <h2>Je propose :</h2>
            </div>
        </div>
        <div class="row fixh1">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="bid_category">Catégorie :</label>
                    <select id="bid_category" class="form-control" data-ng-model="bid.category"
                            ng-options="category as category.name for category in categories">
                        <option value="">--</option>
                    </select>
                </div>
            </div>
        </div>
        {% include "bids/bid_form.html" %}
        {% include 'addresses/address_modale.html' %}
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript"
            src="/static/bower_components/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/static/bower_components/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript"
            src="/static/bower_components/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/static/js/bidsModule.js"></script>
{% endblock %}