{% extends "base.html" %}
{% block content %}
    <div class="container" data-ng-app="bidsModule" data-ng-controller="bidController">
        <div class="row">
            <div class="col-lg-12">
                <h2>Modifier une annonce :</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label">Type d'annonce : </label>

                    <div class="radio">
                        <label for="bid_type_1" class="control-label">
                            <input ng-model="bid.type" name="bid_type_radio" id="bid_type_1" value="SUPPLY" type="radio"
                                   required="true"> Je propose
                        </label>
                    </div>
                    <div class="radio">
                        <label for="bid_type_2" class="control-label">
                            <input ng-model="bid.type" name="bid_type_radio" id="bid_type_2" value="DEMAND" type="radio"
                                   required="true"> Je recherche
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="bid_category">Catégorie :</label>
                    <select ng-model="bid.category" class="form-control"
                            ng-options="category as category.name for category in categories">
                        <option value="">- -</option>
                    </select>
                </div>
            </div>
        </div>
        {% include "bids/bid_form.html" %}
        {% include 'addresses/address_modale.html' %}
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/js/bidsModule.js"></script>
{% endblock %}