{% extends "base.html" %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="container">
        <div data-ng-app="bidsModule">
            <div data-ng-controller="bidsController">
                <div class="alert alert-danger" role="alert" ng-show="errorMessage">{$ errorMessage $}</div>
                <h1>Bids</h1>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th hidden="True">id</th>
                        <th>Nom</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Temps restant</th>
                        <th>Quantité</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tr data-ng-repeat="bid in bids">
                        <td hidden="true">{$ bid.id $}</td>
                        <td>{$ bid.title $}</td>
                        <td>{$ bid.begin $}</td>
                        <td>{$ bid.end $}</td>
                        <td>{$ bid.quantity $}</td>
                        <td>{$ bid.status $}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/bidModule.js"></script>
    <script type="text/javascript" src="/static/bower_components/moment/min/moment-with-locales.min.js"></script>
{% endblock %}