{% extends "base.html" %}
{% block content %}

    <div ng-cloak class="ng-cloak container" data-ng-app="bidsModule">
        <div data-ng-controller="bidController">
            <div class="row">
                <div class="col-lg-12 alert alert-danger" role="alert" ng-show="errorMessage">
                    {$ errorMessage $}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 alert alert-info">
                    Les champs marqués d'une étoile (<span class="text-danger">*</span>) sont obligatoires.
                </div>
            </div>
            <div class="row">
                <form ng-submit="createBid()" role="form" enctype="multipart/form-data">
                    <fieldset>
                        <legend>Création d'une annonce</legend>
                        {% include "forms/bid_form.html" %}
                    </fieldset>
                </form>
            </div>

            {% include 'modales/add_address.html' %}

        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript"
            src="/static/bower_components/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript"
            src="/static/bower_components/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript"
            src="/static/bower_components/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/static/js/bidModule.js"></script>
{% endblock %}