{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div data-ng-app="bidsModule">
            <div data-ng-controller="createBidController">
                <div class="alert alert-danger" role="alert" ng-show="errorMessage">{$ errorMessage $}</div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        Les champs marqués d'une étoile (<span class="text-danger">*</span>) sont obligatoires.
                    </div>
                </div>
                <form ng-submit="createBid()" role="form">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Type d'annonce :</label>

                        <div class="col-lg-12">
                            <div class="radio">
                                <label for="bid_type_1">
                                    <input name="bid_type_radio" id="bid_type_1" value="option1" checked=""
                                           type="radio">
                                    Offre</label>
                            </div>
                            <div class="radio">
                                <label for="bid_type_2">
                                    <input name="bid_type_radio" id="bid_type_2" value="option2" type="radio">
                                    Demande</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="bid_title">Titre : <span class="text-danger">*</span></label>
                            <input ng-model="bid.title" type="text" class="form-control" id="bid_title"
                                   placeholder="Titre de l'annonce" required="true">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="bid_descritpion">Description : <span class="text-danger">*</span></label>
                            <textarea ng-model="bid.description" id="bid_descritpion" class="form-control"
                                      rows="3" required="true"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="bid_title">Début :</label>
                            <input ng-model="bid.begin" type="text" class="form-control" id="bid_title"
                                   placeholder="Début de l'annonce">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="bid_title">Fin :</label>
                            <input ng-model="bid.end" type="text" class="form-control" id="bid_title"
                                   placeholder="Fin de l'annonce">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="quantity">Quantité</label>
                            <input ng-model="bid.quantity" class="form-control" id="quantity" type="number"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="bid_category">Catégorie :</label>
                            <select class="form-control" name="bid_category" id="bid_category">
                                <option value=""></option>
                                <option value="Toto">titi</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Créer</button>
                            <button type="button" class="btn btn-danger">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/js/bidModule.js"></script>
    <script type="text/javascript" src="/static/bower_components/moment/min/moment-with-locales.min.js"></script>
{% endblock %}