{% extends "base.html" %}
{% block content %}
    <div ng-cloak class="ng-cloak" ng-app="associationsModule" ng-controller="associationsController">
        {% include 'error_success_box.html' %}
        <div class="row">
            <div class="col-lg-6">
                <h1>Liste des associations</h1>
            </div>
            <div class="col-lg-3">
                <div class="form-group fixh1">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                        <input class="form-control" type="text" placeholder="Rechercher une association"
                               ng-model="searchText">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 fixh1">
                <a class="btn btn-primary btn-block" href="/associations/ajouter/">
                    <span class="glyphicon glyphicon-plus"></span> Ajoutez une association
                </a>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-responsive table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Téléphone</th>
                        <th>Site web</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tr ng-click="showAssociation(association.id)" class="cursor-pointer"
                        data-ng-repeat="association in associations | filter:searchText">
                        <td>{$ association.name $}</td>
                        <td>{$ association.phone $}</td>
                        <td>{$ association.url_site $}</td>
                        <td>{$ association.email $}</td>
                    </tr>
                    <tr ng-hide="associations" class="danger text-center">
                        <td colspan="6">Il n'y a pas d'association enregistrée dans l'application</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/js/associationsModule.js"></script>
    <script type="text/javascript"
            src="/static/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
{% endblock %}