{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div data-ng-app="associationsModule">
            <div data-ng-controller="associationsController">
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage">
                    <button type="button" class="close" data-dismiss="alert"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {$ errorMessage $}
                </div>
                <div class="alert alert-success alert-dismissible" role="alert" ng-show="successMessage">
                    <button type="button" class="close" data-dismiss="alert"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {$ successMessage $}
                </div>
                <div>
                    <div class="row">
                        <a href="/associations/">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Revenir à la liste des associations
                        </a>
                    </div>
                    <hr/>
                    <br/>
                    {$ association $}
                </div>


            </div>
        </div>
    </div>


{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/js/associationModule.js"></script>
{% endblock %}

