{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0;">
                {% if password_changed %}
                    <div class="alert alert-success">Votre mot de passe a été modifié avec succès.</div>
                {% endif %}
                <h1 class="text-center">Modifier votre mot de passe</h1>

                <div class="row">
                    <div class="col-lg-12">
                        <form id="profile_form" method="post" action="{% url 'frontend:account_manage_password' %}"
                              class="form-horizontal">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"
                                               for="id_old_password">Mot de passe actuel</label>

                                        <div class="col-lg-4">
                                            <input type="password"
                                                   class="form-control" id="id_old_password"
                                                   name="{{ form.old_password.html_name }}"
                                                   {% if form.old_password.value %}value="{{ form.old_password.value }}"{% endif %}
                                                   required="true">
                                        </div>
                                        {% if form.old_password.errors %}
                                            <div class="col-lg-2">
                                                <div class="alert alert-danger">{{ form.old_password.errors }}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"
                                               for="id_new_password1">Nouveau mot de passe</label>

                                        <div class="col-lg-4">
                                            <input type="password"
                                                   class="form-control" id="id_new_password1"
                                                   name="{{ form.new_password1.html_name }}"
                                                   {% if form.new_password1.value %}value="{{ form.new_password1.value }}"{% endif %}
                                                   required="true">

                                        </div>
                                        {% if form.new_password1.errors %}
                                            <div class="col-lg-2">
                                                <div class="alert alert-danger">{{ form.new_password1.errors }}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">

                                        <label class="col-lg-4 control-label"
                                               for="id_new_password2">Confirmation</label>

                                        <div class="col-lg-4">
                                            <input type="password"
                                                   class="form-control" id="id_new_password2"
                                                   name="{{ form.new_password2.html_name }}"
                                                   {% if form.new_password2.value %}value="{{ form.new_password2.value }}"{% endif %}
                                                   required="true">
                                        </div>
                                        {% if form.new_password2.errors %}
                                            <div class="col-lg-2">
                                                <div class="alert alert-danger">{{ form.new_password2.errors }}</div>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-4 col-lg-offset-4 text-right">
                                            <input class="btn btn-primary" type="submit" name="submit"
                                                   value="Modifier le mot de passe"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}