{% extends "base.html" %}
{% block content %}
    <table class="table table-hover">
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Temps Restant</th>
            <th>Localisation</th>
            <th>Association Responsable</th>
        </tr>
        {% for bid in bids %}
            <tr onclick="document.location = '{% url 'core:bid-details' bid.id %}';">
                <td><img width="100" height="100" src="{{ bid.photo.url }}"></td>
                <td>{{ bid.name }}</td>
                <td>{{ bid.quantity }} {{ bid.quantity_type }}</td>
                <td>{{ bid.end }}</td>
                <td>{{ bid.adress1 }} <br> {{ bid.adress2 }} <br> {{ bid.zipcode }} <br> {{ bid.town }}
                    <br> {{ bid.country }}</td>
                <td>TODO</td>
            </tr>

        {% endfor %}
    </table>
    {{ bid.name }}<br/>
{% endblock %}