{% extends "base.html" %}
{% block content %}
    <div ng-cloak class="ng-cloak container" data-ng-app="faqsModule" data-ng-controller="faqsController">
        <div class="row">
            <div class="col-lg-12 alert alert-danger" role="alert" ng-show="errorMessage">
                {$ errorMessage $}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 alert alert-danger" role="alert" ng-show="errorMessage">
                {$ successMessage $}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h1>FAQ</h1>
            </div>

            <div class="col-lg-6 text-right fixh1">
                {% if user.is_staff %}
                    <a class="btn btn-primary" href="/faqs/creer/">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter une question
                    </a>
                {% endif %}
            </div>
        </div>
        <br/>

        <div class="row" data-ng-repeat="faq in faqs">
            <div class="col-lg-12">
                <h3>
                    {$ faq.question $}
                </h3>

                <p>{$ faq.answer $}</p>
                {% if user.is_staff %}
                    <a class="cursor-pointer" ng-click="deleteFaq(faq.id)">
                        supprimer
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row" ng-hide="faqs">
            <div class="col-lg-12">
                Il n'y a pas de question
                {% if user.is_staff %}
                    , <a href="/faqs/creer/">ajouter une question</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/js/faqsModule.js"></script>
{% endblock %}