<div class="modal fade" id="send_mail" tabindex="-1" role="dialog" aria-labelledby="send_mail" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Envoyer un mail à : {$ bid.creator $}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage">
                    <button type="button" class="close" data-dismiss="alert"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    {$ errorMessage $}
                </div>
                <div class="alert alert-success alert-dismissible" role="alert" ng-show="successMessage">
                    <button type="button" class="close" data-dismiss="alert"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    {$ successMessage $}
                </div>
                <legend>Email</legend>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label for="mail_subject">Sujet: </label>
                        <input ng-model='mail.subject' type="text" class="form-control" id="mail_subject" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label for="mail_content">Message: </label>
                        <textarea ng-model="mail.content" id="mail_content" class="form-control" rows="3" required>
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Annuler
                    </button>
                    <input type="button" ng-click="sendMail()" class="btn btn-primary" value="Envoyer"/>
                </div>
            </div>
        </div>
    </div>
</div>