<div class="modal fade" id="create_address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter une nouvelle adresse</h4>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Les champs marqués d'une étoile (<span class="text-danger">*</span>) sont obligatoires.
                </div>
            </div>
            <div data-ng-controller="bidUser" class="modal-body">
                <div class="alert alert-danger" role="alert" ng-show="errorMessage">{$ errorMessage $}</div>
                <div class="alert alert-success" role="alert" ng-show="successMessage">{$ successMessage $}</div>
                <form role="form">
                    <fieldset>
                        <legend>Ajouter une nouvelle adresse</legend>
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="address_title">Titre <span
                                        class="text-danger">*</span> : </label>
                                <input  type="text" class="form-control" id="address_title"
                                       ng-model="address.title"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="address_recipient">Destinataire (Nom Prénom / Raison sociale) <span
                                        class="text-danger">*</span> : </label>
                                <input  type="text" class="form-control" id="address_recipient"
                                       ng-model="address.recipient_name"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="address_address1">Adresse <span
                                        class="text-danger">*</span> : </label>
                                <input type="text" class="form-control" id="address_address1"
                                       ng-model="address.address1"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="address_address2">Complément d'adresse : </label>
                                <input type="text" class="form-control" id="address_address2"
                                       ng-model="address.address2"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="address_zipcode">Code postal <span
                                        class="text-danger">*</span> : </label>
                                <input  type="text" class="form-control" id="address_zipcode"
                                       ng-model="address.zipcode"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="address_town">Ville <span
                                        class="text-danger">*</span> : </label>
                                <input  type="text" class="form-control" id="address_town"
                                       ng-model="address.town"/>
                            </div>
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button data-ng-controller="bidsController" type="button" ng-click="updateAddress()" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <input type="button" ng-click="createUserAddress()" class="btn btn-primary" value="Enregistrer"/>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>